.card__wrapper {
  z-index: 1;
  font-family: var(--ff-main);
  overflow: hidden;
  display: flex;
  margin: auto;
  border-radius: 0.5rem;
  max-width: 27rem;
  /* max-height: 25rem; */
  background-color: var(--clr-primary);
  border: 1px solid var(--clr-secondary);
  box-shadow: 4px 4px 10px var(--clr-secondary);
  padding: 0;
  animation: animation 1100ms ease-in-out forwards;
}

.card__text_wrapper {
  flex-direction: column;
  padding: 1rem;
  position: relative;
}

.card__text_wrapper::after {
  content: "";
  position: absolute;
  height: 10rem;
  width: 10rem;
  border-radius: 100%;
  background-color: var(--clr-secondary);
  opacity: 0.3;
  top: -5rem;
  right: -5rem;
  z-index: -1;
}

.card__text_wrapper::before {
  content: "";
  position: absolute;
  height: 10rem;
  width: 10rem;
  border-radius: 100%;
  background-color: var(--clr-secondary);
  opacity: 0.3;
  bottom: -6rem;
  left: -5rem;
  z-index: -1;
}

.card__image {
  object-fit: fill;
  image-rendering: optimizeQuality;
}

.card__title {
  font-family: var(--ff-title);
  font-size: 2rem;
}

.card__subtitle {
  font-size: 1rem;
  padding-block: 0.2rem;
}

.card__author {
  padding-block: 0.75rem;
  font-size: 1.35rem;
}

.card__pages {
  padding-block: 0.75rem;
}

.card__btn {
  composes: button from "./Utils.module.css";
  position: absolute;
  padding-block: 0;
  padding-inline: 0;
  bottom: -1rem;
  right: 0.8rem;
  font-size: 3rem;
}

.card__btn:hover {
  scale: 1.215;
}

.list-card__wrapper {
  composes: card__wrapper;
  margin: 1rem;
  z-index: 0;
}

@keyframes animation {
  0% {
    opacity: 0;
    filter: grayscale(100%);
  }

  50% {
    filter: grayscale(100%);
  }
  100% {
    opacity: 1;
  }
}
